.register-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  align-items: baseline;

  height: 70.13px;
}

.upload-form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 70.13px;
}

.form-item .mat-form-field {
  width: 350px;
}

.form-item .mat-icon,
.upload-form-item .mat-icon {
  cursor: pointer;
  padding: 10px;
}

#image-input-div {
  display: flex;
  align-items: center;
}

#image-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
}

#id {
  display: none;
}

.preview-div {
  padding: 5% 0%;

  display: flex;
  flex-direction: column;
}

.preview-item {
  margin: 1% 0%;
}

.preview-image-item img {
  width: 480px;
  height: auto;
}

.mat-body-2 {
  margin: 0px 10px;
}

.final-action-buttons {
  display: flex;
  align-items: center;
}

.final-action-buttons button {
  margin-right: 10px;
}
